body {
	color: #333;
	font-size: 14px;
	font-family: Lato, sans-serif;
}

#graph-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: rgb(255, 255, 255);
}

.line {
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
	padding: 12px 0 0 0;
	border-bottom: 1px solid rgb(4, 0, 0);
	background: transparent;
}

h2, h3 {
	padding: 0;
	text-transform: uppercase;
}

h2.underline {
	background: #040404;
	margin: 0;
	border-radius: 2px;
	padding: 8px 12px;
	font-weight: 700;
}

